<section class="custom-padding-1 bg-dark-main">
  <div class="custom-container">
    <div class="row">
      <div class="col-xl-6 col-12 p-xl-5 p-3">
        <img
          ngSrc="images/svg/footer-logo.svg"
          width="400"
          class="d-block mx-xl-0 mx-auto"
          id="footer-logo"
          height="73"
          alt="Mega Solutions Logo"
        />
        <p class="gray-text text-xl-start text-center pt-1">
          Lorem ipsum dolor sit amet consectetur.
        </p>
      </div>
      <div
        class="col-xl-2 col-12 p-xl-5 p-3 d-xl-block d-flex flex-column align-items-center justify-content-center"
      >
        <p
          class="fw-bold text-white text w-fit d-block text-center o-underline"
        >
          Home
        </p>
        <ul
          class="pt-xl-5 pt-2 d-flex flex-column justify-content-between align-items-xl-start align-items-center h-100"
        >
          <li>
            <a
              routerLink="/products"
              routerLinkActive="active-link"
              class="link-hover text-white fs-6"
              >products</a
            >
          </li>
          <li>
            <a
              routerLink="/products"
              routerLinkActive="active-link"
              class="link-hover text-white fs-6"
              >about us</a
            >
          </li>
          <li>
            <a
              routerLink="/products"
              routerLinkActive="active-link"
              class="link-hover text-white fs-6"
              >gallery</a
            >
          </li>
          <li>
            <a
              routerLink="/products"
              routerLinkActive="active-link"
              class="link-hover text-white fs-6"
              >blog</a
            >
          </li>
          <li>
            <a
              routerLink="/products"
              routerLinkActive="active-link"
              class="link-hover text-white fs-6"
              >contact us</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-xl-4 col-12 p-xl-5 px-3 pb-3 pt-5 d-xl-block d-flex flex-column align-items-center justify-content-center"
      >
        <div class="h-100">
          <p class="fw-bold text-white w-fit o-underline mx-xl-0 mx-auto">
            Contact
          </p>
          <div
            class="d-inline-flex flex-column justify-content-between align-items-xl-start align-items-center h-100"
          >
            <p class="pt-xl-5 pt-3 text-white">
              Lorem ipsum dolor sit, amet consectetur 108
            </p>
            <div
              class="d-flex flex-column align-items-xl-start align-items-center"
            >
              <a href="tel:+38349631622" class="d-block text-white"
                >+38349631622</a
              >
              <a
                href="mailto:brilantkrasniqi26@gmail.com"
                class="d-block text-white"
                >brilantkrasniqi26&#64;gmail.com</a
              >
            </div>
            <div class="">
              <a href="#">
                <img
                  ngSrc="images/svg/fb.svg"
                  width="24"
                  height="24"
                  alt="Facebook"
                  class="me-4"
                />
              </a>
              <a href="#">
                <img
                  ngSrc="images/svg/insta.svg"
                  width="24"
                  height="24"
                  alt="Instagram"
                  class="me-4"
                />
              </a>
              <a href="#">
                <img
                  ngSrc="images/svg/linkedin.svg"
                  width="24"
                  height="24"
                  alt="LinkedIn"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
