<div class="splide cabinet-slider" id="all-cabinets">
  <div class="splide__track py-5">
    <ul class="splide__list">
      <li
        class="splide__slide d-flex flex-column justify-content-center align-items-center w-fit"
      >
        <img
          src="images/other/door-1.png"
          width="230"
          height="400"
          alt="Door-1"
        />
        <div
          class="slide-door-info d-flex flex-column align-items-center justify-content-center pt-3"
        >
          <h5 class="fw-bold">IN THE NAVY</h5>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="splide__slide d-flex flex-column justify-content-center align-items-center w-fit"
      >
        <img
          src="images/other/door-1.png"
          width="230"
          height="400"
          alt="Door-1"
        />
        <div
          class="slide-door-info d-flex flex-column align-items-center justify-content-center pt-3"
        >
          <h5 class="fw-bold">IN THE NAVY</h5>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="splide__slide d-flex flex-column justify-content-center align-items-center w-fit"
      >
        <img
          src="images/other/door-1.png"
          width="230"
          height="400"
          alt="Door-1"
        />
        <div
          class="slide-door-info d-flex flex-column align-items-center justify-content-center pt-3"
        >
          <h5 class="fw-bold">IN THE NAVY</h5>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="splide__slide d-flex flex-column justify-content-center align-items-center w-fit"
      >
        <img
          src="images/other/door-1.png"
          width="230"
          height="400"
          alt="Door-1"
        />
        <div
          class="slide-door-info d-flex flex-column align-items-center justify-content-center pt-3"
        >
          <h5 class="fw-bold">IN THE NAVY</h5>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="splide__slide d-flex flex-column justify-content-center align-items-center w-fit"
      >
        <img
          src="images/other/door-1.png"
          width="230"
          height="400"
          alt="Door-1"
        />
        <div
          class="slide-door-info d-flex flex-column align-items-center justify-content-center pt-3"
        >
          <h5 class="fw-bold">IN THE NAVY</h5>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="splide__slide d-flex flex-column justify-content-center align-items-center w-fit"
      >
        <img
          src="images/other/door-1.png"
          width="230"
          height="400"
          alt="Door-1"
        />
        <div
          class="slide-door-info d-flex flex-column align-items-center justify-content-center pt-3"
        >
          <h5 class="fw-bold">IN THE NAVY</h5>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
