<!-- Hero -->
<section id="hero-section">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xl-5 col-12 d-flex align-items-center justify-content-center position-relative bg-dark-main z-1 hero-left"
      >
        <div
          class="d-flex flex-column align-items-xl-start align-items-center justify-content-xl-center justify-content-end hero-content pb-xl-0 pb-4 px-xl-0 px-5"
        >
          <h1
            class="text-white m-0 overflow-y-hidden fw-bold text-xl-start text-center"
          >
            Lorem ipsum dolor sit amet
          </h1>
          <p class="text-white pb-xl-5 pb-3 text-xl-start text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
            molestias?
          </p>
          <a href="#" class="mt-xl-5 text-white see-more w-fit">see more</a>
        </div>
      </div>
      <div
        class="col-xl-7 col-12 position-relative order-xl-last order-first hero-right p-0 z-2 overflow-visible"
      >
        <div class="splide" id="hero-slider">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img
                  src="images/other/her-door.png"
                  class="hero-door"
                  alt="Hero Door"
                  width="238"
                  height="400"
                />
                <img
                  ngSrc="images/other/slider-image-2.png"
                  class="object-fit-cover hero-main-image"
                  fill
                  priority=""
                  alt="Hero Image"
                />
              </li>
              <li class="splide__slide">
                <img
                  ngSrc="images/other/door-1.png"
                  class="hero-door"
                  alt="Hero Door"
                  width="238"
                  height="400"
                />
                <img
                  ngSrc="images/other/slider-image-1.png"
                  class="object-fit-cover hero-main-image"
                  fill
                  priority=""
                  alt="Hero Image"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Client Statistics Section -->
<section class="custom-padding-1">
  <div class="custom-container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <div
          class="d-xl-inline-block d-flex flex-column align-items-xl-center align-items-start pb-xl-0 pb-5"
        >
          <h2 class="pb-xl-6 pb-1">
            Trusted by over <span class="fw-bold">650 clients</span>
          </h2>
          <span class="gray-line mt-xl-5 mt-0"></span>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <div
          class="d-flex align-items-center w-100 justify-content-evenly flex-wrap"
        >
          <div
            class="d-flex flex-column align-items-center mt-md-0 mt-3 client-wrapper"
          >
            <img
              ngSrc="images/svg/projects-svg.svg"
              width="80"
              height="80"
              alt="Projects"
            />
            <h2 class="orange-text fw-bold pt-xl-4 pt-2">80</h2>
            <p>projects</p>
          </div>
          <div
            class="d-flex flex-column align-items-center mt-md-0 mt-3 client-wrapper"
          >
            <img
              ngSrc="images/svg/clients-svg.svg"
              width="80"
              height="80"
              alt="Happy Clients"
            />
            <h2
              class="orange-text text-xl-start text-center fw-bold pt-xl-4 pt-2"
            >
              365
            </h2>
            <p>happy clients</p>
          </div>
          <div
            class="d-flex flex-column align-items-center mt-md-0 mt-3 client-wrapper"
          >
            <img
              ngSrc="images/svg/team-members-svg.svg"
              width="80"
              height="80"
              alt="Team Members"
            />
            <h2 class="orange-text fw-bold pt-xl-4 pt-2">30</h2>
            <p class="text-nowrap text-xl-start text-center">team members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Door Slider / Cabinetry Section-->
<main class="custom-padding-2" style="background-color: #c7c7c7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-0 p-0 d-md-inline-block d-none"></div>
      <div class="col-md-4 col-12">
        <h2 class="fw-light px-5 text-center">
          Elevate Your Space with <span class="fw-bold">Our Cabinets</span>
        </h2>
      </div>
      <div class="col-md-4 d-md-inline-block d-none"></div>
      <div class="col-12 pt-5">
        <div class="d-flex align-items-center justify-content-center flex-wrap">
          <div class="pe-xl-3 pe-1">
            <a
              class="link-hover user-select-none p-xl-3 p-1"
              (click)="selectedSlider = 'all-cabinets'"
              [ngClass]="{ 'active-link': selectedSlider === 'all-cabinets' }"
              >All</a
            >
          </div>
          <div class="pe-xl-3 pe-1">
            <a
              class="link-hover user-select-none p-xl-3 p-1"
              (click)="selectedSlider = 'express-cabinets'"
              [ngClass]="{
                'active-link': selectedSlider === 'express-cabinets',
              }"
              >Express Cabinets</a
            >
          </div>
          <div class="pe-xl-3 pe-1">
            <a
              class="link-hover user-select-none p-xl-3 p-1"
              (click)="selectedSlider = 'all-cabinets'"
              [ngClass]="{ 'active-link': selectedSlider === 'all-cabinets' }"
              >Premium Series</a
            >
          </div>
          <div class="pe-0">
            <a
              class="link-hover user-select-none p-xl-3 p-1"
              (click)="selectedSlider = 'luxury-cabinets'"
              [ngClass]="{
                'active-link': selectedSlider === 'luxury-cabinets',
              }"
              >Luxury Series</a
            >
          </div>
        </div>
      </div>
      <div class="">
        <!-- TODO: Add breakpoints to each slider, and see if we can refractor the code -->
        <app-all-cabinets
          *ngIf="selectedSlider === 'all-cabinets'"
        ></app-all-cabinets>
        <app-express-cabinets
          *ngIf="selectedSlider === 'express-cabinets'"
        ></app-express-cabinets>
        <app-luxury-cabinets
          *ngIf="selectedSlider === 'luxury-cabinets'"
        ></app-luxury-cabinets>
      </div>
    </div>
  </div>
</main>

<!-- Generate Image Section -->
<!-- TODO: Align slider and button -->
<section class="pb-xl-0 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xl-7 col-12 p-0 order-xl-first order-last position-relative d-flex justify-content-center align-items-center"
      >
        <div class="s3-content w-xl-50">
          <h1 class="fw-light">
            <span class="fw-bold">Design it</span> where it matters most
          </h1>
          <p>
            See exactly how our cabinets will look in your home - just snap,
            upload, and explore the possibilities.
          </p>
          <div
            class="d-flex flex-xl-column flex-row align-items-xl-start align-items-center justify-content-between imageSlider pt-5"
          >
            <div class="d-flex flex-column">
              <label for="imageSlideIn">Slide To Try </label>
              <input
                type="range"
                name="image-slider"
                class="mt-4"
                id="imageSlidIn"
                min="0"
                max="100"
                value="0"
                step="1"
              />
            </div>

            <button class="see-more mt-5 ms-3 w-fit rounded-0">generate</button>
          </div>
        </div>
        <div class="slider-image overflow-x-hidden overflow-y-hidden">
          <img
            src="images/other/placeholder.svg"
            height="610"
            width="800"
            loading="lazy"
            id="main-image"
            alt="Placeholder"
          />
          <img
            src="images/other/image-filled.svg"
            height="610"
            width="800"
            class="slider-image-2 w-fit"
          />
        </div>
      </div>
      <div class="col-xl-5 col-12 p-0">
        <div class="bg-dark-main s3-l"></div>
      </div>
    </div>
  </div>
</section>

<!-- Fourth Section -->
<section
  style="height: 60vh"
  class="position-relative d-flex justify-content-center align-items-center"
>
  <div class="overlay"></div>
  <img
    ngSrc="images/other/green-kitchen.png"
    class="object-fit-cover"
    fill
    alt="Kitchen"
  />
  <div
    class="d-flex flex-column align-items-center justify-content-center position-relative z-2 py-5 px-lg-0 px-5"
    style="max-width: 600px"
  >
    <h2 class="fw-bold text-white text-center">
      Excepteur sint occaecat cupidatat
    </h2>
    <p class="text-white text-center">
      Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla
      lacus nec metus bibendum egestas.
    </p>

    <button class="see-more mt-5 text-white">see more</button>
  </div>
</section>

<!-- Showcase work Section -->
<section class="bg-dark-main custom-padding-2">
  <div class="custom-container-2">
    <h2 class="fw-light text-white">
      Our finest <span class="fw-bold">cabinetry</span> projects
    </h2>
    <div class="splide ms-xl-5 mt-5" id="cabinetry-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide w-fit">
            <img
              class="cabinet-image"
              src="images/other/slider-image-1.png"
              alt="Kitchen-1"
            />
          </li>
          <li class="splide__slide w-fit">
            <img
              class="cabinet-image"
              src="images/other/slider-image-2.png"
              alt="Kitchen-1"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Banners Section -->
<section class="custom-padding-1">
  <div class="custom-container">
    <div class="row g-4 p-3">
      <div class="col-6">
        <div
          class="d-flex flex-md-row flex-column p-lg-3 p-1 shadow-sm align-items-center justify-content-center h-100"
        >
          <img
            ngSrc="images/svg/fast-shipping.svg"
            width="130"
            height="90"
            class="banner-icon"
            alt="Fast Shipping"
          />
          <div class="d-flex flex-column ps-lg-5 ps-0">
            <h3 class="text-md-start text-center fw-bold py-lg-0 py-lg-3 py-1">
              Fast Shipping
            </h3>
            <p class="gray-text text-md-start text-center">
              Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="d-flex flex-md-row flex-column p-lg-3 p-1 shadow-sm align-items-center justify-content-center h-100"
        >
          <img
            ngSrc="images/svg/expert-setup.svg"
            width="130"
            height="90"
            class="banner-icon"
            alt="Fast Shipping"
          />
          <div class="d-flex flex-column ps-lg-5 ps-0">
            <h3 class="text-md-start text-center fw-bold py-lg-0 py-lg-3 py-1">
              Expert Setup
            </h3>
            <p class="gray-text text-md-start text-center">
              Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="d-flex flex-md-row flex-column p-lg-3 p-1 shadow-sm align-items-center justify-content-center h-100"
        >
          <img
            ngSrc="images/svg/Materials.svg"
            width="130"
            height="90"
            class="banner-icon"
            alt="Fast Shipping"
          />
          <div class="d-flex flex-column ps-lg-5 ps-0">
            <h3 class="text-md-start text-center fw-bold py-lg-0 py-lg-3 py-1">
              Premium Materials
            </h3>
            <p class="gray-text text-md-start text-center">
              Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="d-flex flex-md-row flex-column p-lg-3 p-1 shadow-sm align-items-center justify-content-center h-100"
        >
          <img
            ngSrc="images/svg/customer-support.svg"
            width="130"
            height="90"
            class="banner-icon"
            alt="Fast Shipping"
          />
          <div class="d-flex flex-column ps-lg-5 ps-0">
            <h3 class="text-md-start text-center fw-bold py-lg-0 py-lg-3 py-1">
              Online Support
            </h3>
            <p class="gray-text text-md-start text-center">
              Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Reviews Section -->
<section class="custom-padding-1 bg-dark-main">
  <div class="custom-container">
    <div
      class="d-flex flex-lg-row flex-column align-items-center justify-content-lg-between justify-content-center"
    >
      <h2 class="text-white s7-l fw-light text-lg-start text-center">
        What <span class="fw-bold">Our Customers</span>
        Say About Us
      </h2>

      <p class="text-white s7-r text-lg-end text-center pt-lg-0 pt-2">
        Ad litora torquent per conubia nostra inceptos himenaeos.
      </p>
    </div>
  </div>
  <div class="custom-container-2">
    <div class="splide pt-5" id="reviews-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide w-fit">
            <div class="review-container">
              <div class="review-info d-flex flex-column align-items-start">
                <img
                  ngSrc="images/other/review-picture.png"
                  width="143"
                  height="143"
                  class="rounded-circle"
                  alt="Author Picture"
                />
                <h3 class="pt-xl-5 pt-3 fw-bold">Cassandra Salanza</h3>
                <div class="gray-line"></div>
              </div>
              <div class="review-content pt-xl-5 pt-2">
                Quisque faucibus ex sapien vitae pellentesque sem placerat. In
                id cursus mi pretium tellus duis convallis. Tempus leo eu aenean
                sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus
                bibendum egestas.
              </div>
            </div>
          </li>
          <li class="splide__slide w-fit">
            <div class="review-container h-100">
              <div class="review-info d-flex flex-column align-items-start">
                <img
                  ngSrc="images/other/door-1.png"
                  width="143"
                  height="143"
                  class="rounded-circle"
                  alt="Author Picture"
                />
                <h3 class="pt-xl-5 pt-3 fw-bold">Cassandra Salanza</h3>
                <div class="gray-line"></div>
              </div>
              <div class="review-content pt-xl-5 pt-2">
                Quisque faucibus ex sapien vitae pellentesque sem placerat. In
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Partners Logo -->
<section class="custom-padding-3 shadow-sm">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xl-8 col-sm-8 col-7 d-flex align-items-center justify-content-center"
      >
        <div class="splide w-100" id="partners-logo-slider">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide w-fit me-3">
                <img
                  src="images/svg/logo2.svg"
                  height="60"
                  class="w-100"
                  alt="Life Art Cabinetry Logo"
                />
              </li>
              <li class="splide__slide w-fit me-3">
                <img
                  src="images/svg/knb-logo-2.svg"
                  height="60"
                  class="w-100"
                  alt="Kitchen and Bath"
                />
              </li>
              <li class="splide__slide w-fit me-3">
                <img
                  src="images/svg/logo2.svg"
                  height="60"
                  class="w-100"
                  alt="Life Art Cabinetry Logo"
                />
              </li>
              <li class="splide__slide w-fit me-3">
                <img
                  src="images/svg/knb-logo-2.svg"
                  height="60"
                  class="w-100"
                  alt="Kitchen and Bath"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-sm-4 col-5 custom-padding-right bg-white position-relative"
      >
        <div class="">
          <h2 class="fw-light text-end">
            We work with <span class="fw-bold">the best</span>
          </h2>
          <div class="orange-line ms-auto mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Newsletter Section -->
<section class="custom-padding-1">
  <div class="custom-container">
    <h2 class="fw-light text-center">
      <span class="fw-bold">Subscribe</span> to <br />
      Our Newsletter!
    </h2>
    <p class="gray-text text-center">Lorem ipsum dolor sit.</p>
    <div class="row">
      <div class="col-lg-2 d-lg-block d-none"></div>
      <div class="col-lg-8 col-12">
        <form
          class="d-flex align-items-center justify-content-center newsletter-container"
        >
          <input
            type="email"
            name="email"
            id="newsletter"
            placeholder="Type your email"
          />
          <button type="submit" for="newsletter" class="see-more">
            subscribe
          </button>
        </form>
      </div>
      <div class="col-lg-2 d-lg-block d-none"></div>
    </div>
  </div>
</section>
